<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta property="og:title" content="{{title}}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://bvereborn.com/static/banner.png"/>
    <meta property="og:image" content="https://bvereborn.com/static/3dlogo-128px.png"/>
    <meta property="og:description" content="A modern OpenBVE compatable train simulator"/>
    <meta property="og:site_name" content="BVE-Reborn"/>
    <title>{{title}}</title>
    <link rel="icon" type="image/png" href="/static/logo-32px.png">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
    <script src="/static/jquery-3.4.1.min.js"></script>
    <script src="/static/bootstrap.bundle.min.js"></script>
</head>