{{> header}}
<body>
    {{> navbar}}
    <div class="container">
        <div class="row mt-4 justify-content-center">
        <div class="col-lg-{{width}} col-12">
                {{> @partial-block }}
            </div>
        </div>
    </div>
</body>
