{{#> single active="community" title="Community" width=6 }}
    <div class="text-center">
        <h2>Community</h2>
        <p>
            We have a vibrant, welcoming community on <a href="https://discordapp.com">Discord</a> where the devs, players, and others talk all things BVE.
        </p>

        <p>
            Join to stay up to date on all the latest happenings and to enjoy some nice text chat.
        </p>

        <p>
            <a href="https://discord.gg/RxJHE2D">https://discord.gg/RxJHE2D</a>
        </p>

        <iframe src="https://discordapp.com/widget?id=451037457475960852&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
    </div>
{{/single}}
