{{#> page title="" }}
    <div class="row mt-4">
        <div class="col-12 text-center">
            <p class="font-weight-bolder mb-0" style="font-size: 15vh">{{code}}</p>
            <h1 class="mb-4">{{text}}</h1>
            <h3 class="mb-4">{{reason}}</h3>
            <p>Return to the <a href="/">Homepage</a> or <a href="javascript:window.history.back()">Go Back</a></p>
        </div>
    </div>
{{/page}}
