{{#> page title="BVE-Reborn" }}
    <div class="row mt-4 justify-content-center">
        <div class="col-lg-6 col-12">
            <img src="/static/banner.png" alt="logo" class="img-fluid border border-dark mb-3">
            <h1 class="text-center">BVE-Reborn</h1>
            <p>
                Welcome to the home of BVE-Reborn! BVE-Reborn is a rewrite of <a href="{{link "openbve"}}">OpenBVE</a>
                focusing on comparability, reliability, and performance. BVE-Reborn is not ready to play yet, but you can follow
                the work that is being done on <a href="{{link "github"}}">Github</a>.
            </p>
            <p>
                We don't currently have an estimate of when the game will be finished, all we can really say is that we are
                working hard to try to get things finished as fast as we can.
            </p>
        </div>
    </div>
{{/page}}