<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
    <link rel="icon" type="image/png" href="/static/logo-32px.png">
</head>
<body>
    {{> @partial-block }}
</body>
