{{#> single title="Coming Soon" width=12 }}
    <div class="text-center">
        <img src="/static/construction.png" alt="Under Construction">
        <h1 class="mb-4">We haven't finished {{page}} yet!</h1>
        <h3 class="mb-4">Know how to help, check our <a href="{{link "github-website"}}">Github</a>!</h3>
        <p>Return to the <a href="/">Homepage</a> or <a href="javascript:window.history.back()">Go Back</a></p>
    </div>
{{/single}}
